/******* TIC TOE *********/
.TicToe-board {
  display: flex;
}
.TicToe-button {
  width: 3rem;
  height: 3rem;
  border-radius: 0;
  border: none;
  border-right: solid 1px black;
}
.TicToe-button:last-child {
  border-right: none;
}
.TicToe-button:hover {
  background: palegoldenrod;
  cursor: pointer;
}
